.container{
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    justify-content: space-between;
    flex-wrap: wrap;
    flex:1 0 40%
}
.title{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
}
.subtitle{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #959595;
}
.description{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.text_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 9rem;
}