.card_sm_figure{
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    height: 9rem;
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


